.jumbo-parent {
	padding-top: 0px;
}

.jumbotron {
	display: block;
    margin-left: auto;
    margin-right: auto;
	overflow: auto;
}


.jumbotron > p {
	text-align: justify;
    vertical-align: middle;
}

.aligned-text {
	padding: 0px 0% 0px 52%;
	text-align: justify;
}

.question {
	font-size: 24px;
	font-weight: bold;
}

#special-jumbo {
    margin-left: auto;
    margin-right: auto;
    width:90%;
    border-radius:30px;
}
